In [1]:
%matplotlib inline

import pandas
from sklearn.model_selection import train_test_split
import numpy as np
import time
import joblib
import Recommenders as Recommenders
import Evaluation as Evaluation

In [2]:
df =  pandas.read_csv('dataset.csv')
df

,user_id,product_id,order_frequency,product_name,brand
0,2,3,4,Antiseptic Disinfectant Liquid - For First Aid...,Dettol
1,3,10,4,Aloe Vera - Organically grown,Fresho
2,3,11,3,Neem Giloy (Amruta Balli) - Organically Grown,Fresho
3,3,14,3,Soft Drink,Miranda
4,4,14,2,Soft Drink,Miranda
...,...,...,...,...,...
198,104,5,4,Original Hand Wash Liquid Refill,Dettol
199,104,13,5,Soft Drink,Thumbs Up
200,105,9,4,Amla,Fresho
201,105,10,2,Aloe Vera - Organically grown,Fresho
202,106,12,2,Kiwi - Green,Fresho

In [3]:
len(df)

203

In [4]:



#Merge song title and artist_name columns to make a merged column
df['item'] = df['product_name'].map(str) + " - " + df['brand']

In [5]:
df

,user_id,product_id,order_frequency,product_name,brand,item
0,2,3,4,Antiseptic Disinfectant Liquid - For First Aid...,Dettol,Antiseptic Disinfectant Liquid - For First Aid...
1,3,10,4,Aloe Vera - Organically grown,Fresho,Aloe Vera - Organically grown - Fresho
2,3,11,3,Neem Giloy (Amruta Balli) - Organically Grown,Fresho,Neem Giloy (Amruta Balli) - Organically Grown ...
3,3,14,3,Soft Drink,Miranda,Soft Drink - Miranda
4,4,14,2,Soft Drink,Miranda,Soft Drink - Miranda
...,...,...,...,...,...,...
198,104,5,4,Original Hand Wash Liquid Refill,Dettol,Original Hand Wash Liquid Refill - Dettol
199,104,13,5,Soft Drink,Thumbs Up,Soft Drink - Thumbs Up
200,105,9,4,Amla,Fresho,Amla - Fresho
201,105,10,2,Aloe Vera - Organically grown,Fresho,Aloe Vera - Organically grown - Fresho
202,106,12,2,Kiwi - Green,Fresho,Kiwi - Green - Fresho

In [6]:
item_grouped = df.groupby(['product_name']).agg({'order_frequency': 'count'}).reset_index()
grouped_sum = item_grouped['order_frequency'].sum()
item_grouped['percentage']  = item_grouped['order_frequency'].div(grouped_sum)*100
item_grouped.sort_values(['order_frequency', 'product_name'], ascending = [0,1])

,product_name,order_frequency,percentage
10,Soft Drink,38,18.719212
2,Antiseptic Disinfectant Liquid - For First Aid...,25,12.315271
7,Kiwi - Green,19,9.359606
4,Fresh Turmeric - Organically Grown,17,8.374384
5,Harpic Power Plus Toilet Cleaner-Original 1 L ...,17,8.374384
1,Amla,16,7.881773
8,Neem Giloy (Amruta Balli) - Organically Grown,16,7.881773
9,Original Hand Wash Liquid Refill,16,7.881773
0,Aloe Vera - Organically grown,15,7.389163
6,Harpic Toilet Cleaner Original Power Plus + Li...,13,6.403941
3,Disinfectant Surface Cleaner - Citrus,11,5.418719

In [7]:
users = df['user_id']
len(users)

203

In [8]:
products = df['product_name'].unique()
len(products)

11

In [9]:

train_data, test_data = train_test_split(df, test_size = 0.20, random_state=0)
print(train_data.head(5))

     user_id  product_id  order_frequency  \
116       64           6                2
55        32          14                4
26        19           8                5
130       72           9                5
177       94           7                2

                                          product_name    brand  \
116  Harpic Toilet Cleaner Original Power Plus + Li...    Combo
55                                          Soft Drink  Miranda
26                  Fresh Turmeric - Organically Grown   Fresho
130                                               Amla   Fresho
177  Harpic Power Plus Toilet Cleaner-Original 1 L ...    Combo

                                                  item
116  Harpic Toilet Cleaner Original Power Plus + Li...
55                                Soft Drink - Miranda
26         Fresh Turmeric - Organically Grown - Fresho
130                                      Amla - Fresho
177  Harpic Power Plus Toilet Cleaner-Original 1 L ...

In [10]:
pm = Recommenders.popularity_recommender_py()
#pm.create(train_data, 'user_id', 'item')
pm.create(train_data, 'user_id', 'product_id')

In [11]:

user_id = users[103]
pm.recommend(user_id)

    user_id  product_id  score  Rank
0        59           3     21   1.0
11       59          14     19   2.0
4        59           7     14   3.0
8        59          11     14   4.0
3        59           6     13   5.0
5        59           8     13   6.0
9        59          12     13   7.0
6        59           9     12   8.0
7        59          10     12   9.0
2        59           5     11  10.0

In [12]:
user_id = users[8]
pm.recommend(user_id)

    user_id  product_id  score  Rank
0         5           3     21   1.0
11        5          14     19   2.0
4         5           7     14   3.0
8         5          11     14   4.0
3         5           6     13   5.0
5         5           8     13   6.0
9         5          12     13   7.0
6         5           9     12   8.0
7         5          10     12   9.0
2         5           5     11  10.0

In [13]:
is_model = Recommenders.item_similarity_recommender_py()
#is_model.create(train_data, 'user_id', 'item')
is_model.create(train_data, 'user_id', 'product_id')

In [14]:
#Print the product for the user in training data
user_id = users[5]
user_items = is_model.get_user_items(user_id)

print("------------------------------------------------------------------------------------")
print("Training data products for the user userid: %s:" % user_id)
print("------------------------------------------------------------------------------------")

for user_item in user_items:
    print(user_item)

print("----------------------------------------------------------------------")
print("Recommendation process going on:")
print("----------------------------------------------------------------------")

#Recommend products for the user using personalized model
is_model.recommend(user_id)

------------------------------------------------------------------------------------
Training data products for the user userid: 5:
------------------------------------------------------------------------------------
12
7
----------------------------------------------------------------------
Recommendation process going on:
----------------------------------------------------------------------
No. of unique items for the user: 2
no. of unique items in the training set: 12
Non zero values in cooccurence_matrix :18

   user_id  product_id     score  rank
0      5.0         5.0  0.093074   1.0
1      5.0        14.0  0.090038   2.0
2      5.0         3.0  0.081250   3.0
3      5.0        11.0  0.065217   4.0
4      5.0        10.0  0.047619   5.0
5      5.0         4.0  0.047619   6.0
6      5.0         9.0  0.045455   7.0
7      5.0        13.0  0.043478   8.0
8      5.0         6.0  0.040833   9.0
9      5.0         8.0  0.020000  10.0

In [15]:
user_id = users[7]
#Fill in the code here
user_items = is_model.get_user_items(user_id)
#
print("------------------------------------------------------------------------------------")
print("Training data products for the user userid: %s:" % user_id)
print("------------------------------------------------------------------------------------")

for user_item in user_items:
    print(user_item)

print("----------------------------------------------------------------------")
print("Recommendation process going on:")
print("----------------------------------------------------------------------")

#Recommend products for the user using personalized model
is_model.recommend(user_id)

------------------------------------------------------------------------------------
Training data products for the user userid: 5:
------------------------------------------------------------------------------------
12
7
----------------------------------------------------------------------
Recommendation process going on:
----------------------------------------------------------------------
No. of unique items for the user: 2
no. of unique items in the training set: 12
Non zero values in cooccurence_matrix :18

   user_id  product_id     score  rank
0      5.0         5.0  0.093074   1.0
1      5.0        14.0  0.090038   2.0
2      5.0         3.0  0.081250   3.0
3      5.0        11.0  0.065217   4.0
4      5.0        10.0  0.047619   5.0
5      5.0         4.0  0.047619   6.0
6      5.0         9.0  0.045455   7.0
7      5.0        13.0  0.043478   8.0
8      5.0         6.0  0.040833   9.0
9      5.0         8.0  0.020000  10.0