In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import joblib
from sklearn.feature_selection import SelectKBest,f_classif
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
import warnings; warnings.simplefilter('ignore')

In [2]:
product = pd.read_csv('dataset.csv')
product

    product_id      brand               also_bought  recommendation
0            3     Dettol  ["10","13","12","6","4"]              12
1            4      Lizol   ["14","3","10","7","9"]              14
2            5     Dettol    ["3","8","4","6","13"]               6
3            6      Combo   ["3","9","14","4","11"]               9
4            7      Combo   ["14","4","11","8","9"]              14
5            8     Fresho   ["12","5","3","9","11"]               9
6            9     Fresho    ["6","3","10","4","8"]               4
7           10     Fresho   ["3","4","9","11","13"]               3
8           11     Fresho     ["6","7","8","9","3"]               7
9           12     Fresho   ["13","3","8","14","9"]               9
10          13  Thumbs Up  ["12","3","5","10","11"]              12
11          14    Miranda    ["4","3","7","6","12"]               4

In [3]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
product_id        12 non-null int64
brand             12 non-null object
also_bought       12 non-null object
recommendation    12 non-null int64
dtypes: int64(2), object(2)
memory usage: 512.0+ bytes

In [4]:
product.describe(include = 'O')

         brand               also_bought
count       12                        12
unique       6                        12
top     Fresho  ["10","13","12","6","4"]
freq         5                         1

In [5]:
product['also_bought'] = product['also_bought'].fillna('')
product['brand'] = product['brand'].fillna('')

In [6]:
product.shape

(12, 4)

In [7]:
x = product.drop(['recommendation','brand','also_bought'],axis=1)
y = product['recommendation']

In [13]:
selector = SelectKBest(f_classif,k='all').fit(x, y)
x_new = selector.transform(x)
nb_features = x_new.shape[1]
x_train, x_test, y_train, y_test = train_test_split(x_new, y ,test_size=0.1)

In [17]:
algorithms = {
    
 
 
 "RandomForest": RandomForestClassifier(n_estimators=3),
 "KNN" : KNeighborsClassifier(n_neighbors=3)
}

In [18]:
results = {}
print("\nNow testing algorithms")
for algo in algorithms:
    clf = algorithms[algo]
    clf.fit(x_train, y_train)#fit may be called as 'trained'
    score = clf.score(x_test, y_test)
    print("%s : %f %%" % (algo, score*100))
    results[algo] = score
    

winner = max(results, key=results.get)
print('\nWinner algorithm is %s with a %f %% success' % (winner, results[winner]*100))

Now testing algorithms
RandomForest : 0.000000 %
KNN : 0.000000 %

Winner algorithm is RandomForest with a 0.000000 % success

In [19]:
joblib.dump(algorithms[winner], 'classifier/classifier.pkl')#Persist an arbitrary Python object into one file.
#joblib works especially well with NumPy arrays which are used by sklearn so depending on the classifier type you use you might have performance and size benefits using joblib.Otherwise pickle does work correctly so saving a trained classifier and loading it again will produce the same results no matter which of the serialization libraries you use
print('Saved')

Saved